#body > #access > .display {
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    min-height: 100vh;
}

#body > #access > .display.a > .background {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
}
#body > #access > .display.a > .background:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    background-image: url('../../../../media/background/away_fhd.jpg');
    background-position: 50% 50%;
    background-size: cover;
}
#body > #access > .display.a > .background:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 0.75;
}
