:root {
    --base: #000;
    --half: #888;
    --use: #fff;
}

#body > #access > .display > .document {
    z-index: 1;
    width: 100%;
    max-width: 960px;
    padding: 64px 16px;
}

#body > #access > .display > .document:before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.75;
}
