.document .screenFrame:first-child {
    margin-top: 0;
}
.document .screenFrame:last-child {
    margin-bottom: 0;
}

.document .screenFrame {
    position: relative;
    width: 100%;
    height: 0;
    margin: 16px 0;
    padding-bottom: 56.25%;
}
.document .screenFrame iframe {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
}
