.document table:first-child {
    margin-top: 0;
}
.document table:last-child {
    margin-bottom: 0;
}

.document table {
    border-collapse: collapse;
    max-width: 100%;
    margin: 16px 0;
    color: var(--use);
}

.document table thead {
    border-bottom: double 3px var(--use);
}

.document table th {
    margin: 0;
    padding: 4px;
    text-align: left;
    vertical-align: top;
    font-weight: 400;
    border: solid 1px var(--use);
}

.document table tbody th {
    width: 0;
    white-space: nowrap;
}

.document table td {
    margin: 0;
    padding: 4px;
    text-align: left;
    vertical-align: top;
    font-weight: 300;
    border: solid 1px var(--use);
}

.document table .nowrap {
    white-space: nowrap;
}

.document table .textLeft {
    text-align: left;
}

.document table .textCenter {
    text-align: center;
}

.document table .textRight {
    text-align: right;
}

.document table .verticalTop {
    vertical-align: top;
}

.document table .verticalMiddle {
    vertical-align: middle;
}

.document table .verticalBottom {
    vertical-align: bottom;
}
