@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

#H4CKneyed > .display > .head {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 960px;
    max-width: calc(100% - 8px);
    height: 64px;
    margin: 4px;
    font-weight: 500;
    font-size: 20px;
    border-radius: 4px;
    color: #000c;
    background-color: #f88;
    box-shadow: 0 0 8px #0008;
    transition-property: background-color;
    transition: 0.25s;
}
#H4CKneyed > .display > .head:hover {
    background-color: #d66;
    transition-property: background-color;
    transition: 0.25s;
}
#H4CKneyed > .display > .head:active {
    background-color: #b44;
    transition-property: background-color;
    transition: 0.05s;
}

#H4CKneyed > .display > .head > .arrow {
    content: "";
    width: 0;
    height: 0;
    margin: 0 8px;
    vertical-align: middle;
    border-top: solid 6px transparent;
    border-bottom: solid 6px transparent;
    border-left: solid 6px var(--use);
    transform: rotate(0deg);
    transition-property: transform;
    transition: 0.25s;
}
#H4CKneyed > .display > .head:hover > .arrow {
    transform: rotate(-90deg);
    transition-property: transform;
    transition: 0.25s;
}
#H4CKneyed > .display > .head.isHide:hover > .arrow {
    transform: rotate(90deg);
    transition-property: transform;
    transition: 0.25s;
}
#H4CKneyed > .display > .head > .day {
    position: absolute;
    bottom: -12px;
    right: 0;
    margin: 0 8px;
    font-family: 'Staatliches', monospace;
    font-weight: 400;
    font-size: 48px;
    color: #fff8;
}

#H4CKneyed > .display > .content {
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    width: 960px;
    max-width: 100%;
}
#H4CKneyed > .display > .content::-webkit-scrollbar {
    display: none;
}

#H4CKneyed > .display > .content > .blocks {
    z-index: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    width: 309.3333px; /* calc(33.33% - 8px); */
    min-width: 64px;
    margin: 68px 4px 4px 4px;
    padding: 4px;
    border-end-start-radius: 4px;
    border-end-end-radius: 4px;
    background-color: #888;
    box-shadow: 0 0 8px #0008;
    transition-property: width;
    transition: 0.5s;
}
#H4CKneyed > .display > .content > .blocks:before {
    z-index: 0;
    content: "";
    position: absolute;
    top: -64px;
    left: 0;
    width: 100%;
    height: calc(100% + 64px);
    border-radius: 4px;
    background: radial-gradient(farthest-side circle at left top, #9998, #7778);
    box-shadow: 0 0 8px #0008;
}

#H4CKneyed > .display > .content > .blocks > .category {
    pointer-events: none;
    overflow-x: hidden;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: -64px;
    left: 0;
    width: 100%;
    height: 64px;
    white-space: nowrap;
    font-weight: 500;
    font-size: 20px;
    color: #000c;
}
#H4CKneyed > .display > .content > .blocks > .category:before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    border-start-start-radius: 4px;
    border-start-end-radius: 4px;
    transition-property: background-color;
    transition: 0.25s;
}
#H4CKneyed > .display > .content > .blocks:nth-of-type(1) > .category:before {
    background-color: #8cf;
}
#H4CKneyed > .display > .content > .blocks:nth-of-type(2) > .category:before {
    background-color: #c8f;
}
#H4CKneyed > .display > .content > .blocks:nth-of-type(3) > .category:before {
    background-color: #f8c;
}

#H4CKneyed > .display > .content > .blocks > .category > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0 8px;
}

#H4CKneyed > .display > .content > .blocks > .category > div > .arrow {
    content: "";
    width: 0;
    height: 0;
    margin: 0 8px;
    vertical-align: middle;
    border-top: solid 6px transparent;
    border-bottom: solid 6px transparent;
    border-left: solid 6px var(--half);
    transform: rotate(0deg);
    transition-property: transform;
    transition: 0.25s;
}

#H4CKneyed > .display > .content > .blocks > .block {
    z-index: 0;
    position: relative;
    width: 100%;
    height: 360px;
    padding: 4px;
    transition-property: height;
    transition: 0.5s;
}
#H4CKneyed > .display > .content > .blocks > .block:before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 24px 24px 0;
    border-color: transparent #866 transparent transparent;
}
#H4CKneyed > .display > .content > .blocks > .block:after {
    z-index: 1;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 24px 0 0 24px;
    border-color: transparent transparent transparent #866;
}
#H4CKneyed > .display > .content.isHide > .blocks > .block {
    height: 180px;
    transition-property: height;
    transition: 0.5s;
}

#H4CKneyed > .display > .content > .blocks > .block > div {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    border-start-start-radius: 32px;
    color: #fff;
    background: radial-gradient(farthest-side circle at left top, #444, #222);
    box-shadow: 0 0 4px #0008;
    transition-property: border-radius, color;
    transition: 0.5s;
}
#H4CKneyed > .display > .content > .blocks > .block > div:before {
    content: "";
    position: absolute;
    top: 0;
    right: 8px;
    width: 8px;
    height: 100%;
    box-shadow: 0 0 4px #000;
    transition-property: right;
    transition: 0.5s;
}
#H4CKneyed > .display > .content > .blocks:nth-of-type(1) > .block > div:before {
    background: linear-gradient(to top, #048 0%, #468 100%);
}
#H4CKneyed > .display > .content > .blocks:nth-of-type(2) > .block > div:before {
    background: linear-gradient(to top, #408 0%, #648 100%);
}
#H4CKneyed > .display > .content > .blocks:nth-of-type(3) > .block > div:before {
    background: linear-gradient(to top, #804 0%, #846 100%);
}
#H4CKneyed > .display > .content > .blocks > .block > div > .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 75%;
    height: 80px;
    margin-right: 0;
    margin-bottom: 4px;
    padding: 8px;
    font-weight: 500;
    font-size: 20px;
    color: #422;
    background:
        radial-gradient(farthest-side circle at left top, #7668 0%, #9888 25%, #7668 50%, #5448 75%, #3228 100%),
        #ccc;
    background-blend-mode: overlay, normal;
    transition-property: width, margin-right, color;
    transition: 0.5s;
}
#H4CKneyed > .display > .content > .blocks > .block > div > .data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    width: 75%;
    margin-bottom: 4px;
    font-weight: 500;
}
#H4CKneyed > .display > .content > .blocks > .block > div > .organizer {
    flex-shrink: 0;
    width: 75%;
    padding-bottom: 4px;
    text-align: right;
    font-size: 12px;
    border-bottom: solid 1px #fff;
    transition-property: border-bottom, color;
    transition: 0.5s;
}
#H4CKneyed > .display > .content > .blocks > .block > div > .description {
    position: relative;
    width: 75%;
    height: 100%;
    max-height: 208px;
    margin: 4px 0;
    opacity: 1;
    transition-property: opacity;
    transition: 0.5s;
}
#H4CKneyed > .display > .content.isHide > .blocks > .block > div > .description {
    user-select: none;
    opacity: 0;
    transition-property: opacity;
    transition: 0.5s;
}

#H4CKneyed > .display > .content > .blocks > .block > div > .data > .id {
    padding: 0 4px;
    white-space: nowrap;
    border: solid 1px #fff8;
    color: #fff8;
    transition-property: all;
    transition: 0.5s;
}
#H4CKneyed > .display > .content > .blocks > .block > div > .data > .date {
    margin-right: 4px;
    white-space: nowrap;
    color: #fffc;
    transition-property: all;
    transition: 0.5s;
}

#H4CKneyed > .display > .content > .blocks > .block > div > .description > .text {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: justify;
    font-size: 14px;
    opacity: 1;
    transition-property: color, opacity;
    transition: 0.5s;
}
#H4CKneyed > .display > .content > .blocks > .block > div > .description > .image + .text {
    opacity: 0;
    transition-property: opacity;
    transition: 0.5s;
}
#H4CKneyed > .display > .content > .blocks > .block > div > .description > .image {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition-property: opacity;
    transition: 0.5s;
}
#H4CKneyed > .display > .content > .blocks > .block > div > .description > .image:hover {
    opacity: 0;
    transition-property: opacity;
    transition: 0.5s;
}
#H4CKneyed > .display > .content > .blocks > .block > div > .description > .image:hover + .text {
    opacity: 1;
    transition-property: opacity;
    transition: 0.5s;
}

#H4CKneyed > .display > .content > .blocks > .block > div > .description > .image > img,
#H4CKneyed > .display > .content > .blocks > .block > div > .description > .image > a {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#H4CKneyed > .display > .content > .blocks > .blank {
    width: 100%;
    height: 180px;
    transition-property: height;
    transition: 0.5s;
}
#H4CKneyed > .display > .content.isHide > .blocks > .blank {
    width: 100%;
    height: 90px;
    transition-property: height;
    transition: 0.5s;
}

@media screen and (max-width: 959px) {
    #H4CKneyed > .display > .content > .blocks.isHide {
        flex-shrink: 2;
        transition-property: width;
        transition: 0.5s;
    }

    #H4CKneyed > .display > .content > .blocks > .category {
        pointer-events: fill;
    }
    #H4CKneyed > .display > .content > .blocks .category:hover:before {
        background-color: #aaa;
        transition-property: background-color;
        transition: 0.25s;
    }
    #H4CKneyed > .display > .content > .blocks.isHide:nth-of-type(1) > .category:hover:before {
        background-color: #6ad;
    }
    #H4CKneyed > .display > .content > .blocks.isHide:nth-of-type(2) > .category:hover:before {
        background-color: #a6d;
    }
    #H4CKneyed > .display > .content > .blocks.isHide:nth-of-type(3) > .category:hover:before {
        background-color: #d6a;
    }
    #H4CKneyed > .display > .content > .blocks .category:active:before {
        background-color: #888;
        transition-property: background-color;
        transition: 0.05s;
    }
    #H4CKneyed > .display > .content > .blocks.isHide:nth-of-type(1) > .category:active:before {
        background-color: #48b;
    }
    #H4CKneyed > .display > .content > .blocks.isHide:nth-of-type(2) > .category:active:before {
        background-color: #84b;
    }
    #H4CKneyed > .display > .content > .blocks.isHide:nth-of-type(3) > .category:active:before {
        background-color: #b48;
    }

    #H4CKneyed > .display > .content > .blocks > .category > div > .arrow {
        border-left: solid 6px var(--use);
    }
    #H4CKneyed > .display > .content > .blocks.isHide > .category:hover > div > .arrow {
        transform: rotate(90deg);
        transition-property: transform;
        transition: 0.25s;
    }

    #H4CKneyed > .display > .content > .blocks.isHide > .block > div {
        border-start-start-radius: 2px;
        transition-property: border-radius, color;
        transition: 0.5s;
    }
    #H4CKneyed > .display > .content > .blocks.isHide > .block > div:before {
        right: calc(100% - 34px);
        transition-property: right;
        transition: 0.5s;
    }

    #H4CKneyed > .display > .content > .blocks.isHide > .block > div > .title {
        user-select: none;
        width: 8px;
        margin-right: calc(100% - 26px);
        color: transparent;
        transition-property: width, margin-right, color;
        transition: 0.5s;
    }
    #H4CKneyed > .display > .content > .blocks.isHide > .block > div > .organizer {
        user-select: none;
        border-bottom: solid 1px transparent;
        color: transparent;
        transition-property: border-bottom, color;
        transition: 0.5s;
    }

    #H4CKneyed > .display > .content > .blocks.isHide > .block > div > .data > .id {
        user-select: none;
        padding: 0;
        border: solid 1px transparent;
        color: transparent;
        transition-property: all;
        transition: 0.5s;
    }
    #H4CKneyed > .display > .content > .blocks.isHide > .block > div > .data > .date {
        user-select: none;
        margin-right: 0;
        color: transparent;
        transition-property: all;
        transition: 0.5s;
    }

    #H4CKneyed > .display > .content > .blocks.isHide > .block > div > .description > .text {
        user-select: none;
        width: 0;
        color: transparent;
        transition-property: color, opacity;
        transition: 0.5s;
    }
    #H4CKneyed > .display > .content > .blocks.isHide > .block > div > .description > .image {
        pointer-events: none;
        user-select: none;
        opacity: 0;
        transition-property: opacity;
        transition: 0.5s;
    }
}
