#title {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px;
}

#title > h1 {
    display: block;
    margin: 0;
    padding: 0;
    font-weight: 300;
    color: #fff;
    text-shadow: 0 0 8px #0008;
}
#title > h1.ja {
    font-size: 64px;
}
#title > h1.en {
    font-size: 32px;
}

#title > h1 > span {
    white-space: nowrap;
}

@media screen and (max-width: 719px) {
    #title > h1.ja {
        font-size: 32px;
    }
    #title > h1.en {
        font-size: 16px;
    }
}
